/* base */

body {
    background-color: #faaa6d;
    font-family: "Roboto", Sans-serif;
    font-size: 14pt;
}

a {
    text-decoration: none;
    color: inherit;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

p {
    text-align: justify;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    margin: auto;
}

/* Variables */
/* Type */
.type-normal {
    color: #a8a878;
}
.type-fighting {
    color: #c03028;
}
.type-flying {
    color: #a890f0;
}
.type-poison {
    color: #a040a0;
}
.type-ground {
    color: #e0c068;
}
.type-rock {
    color: #b8a038;
}
.type-bug {
    color: #a8b820;
}
.type-ghost {
    color: #705898;
}
.type-steel {
    color: #b8b8d0;
}
.type-fire {
    color: #f08030;
}
.type-water {
    color: #6890f0;
}
.type-grass {
    color: #78c850;
}
.type-electric {
    color: #f8d030;
}
.type-psychic {
    color: #f85888;
}
.type-ice {
    color: #98d8d8;
}
.type-dragon {
    color: #7038f8;
}
.type-dark {
    color: #705848;
}
.type-fairy {
    color: #ee99ac;
}

.gender-m {
    color: #0070f8;
}
.gender-f {
    color: #e82010;
}

.attr {
    color: #a0a0a0;
}

/* Stat */
.stat-hp {
    color: #ff0000;
}
.stat-atk {
    color: #f08030;
}
.stat-def {
    color: #f8d030;
}
.stat-spa {
    color: #6890f0;
}
.stat-spd {
    color: #78c850;
}
.stat-spe {
    color: #f85888;
}

/* Headers */
.header {
    margin-top: 3rem;
    /* background-color: #eee; */
}

.heading-title {
    font-weight: 600;
    color: #419EAE;
}

.heading-author {
    font-weight: bold;
    color: #f2684a;
}

.heading-img img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

.introduction {
    margin: 40px 0 40px 0;
}

/* Main */
.main_page {
    margin: auto;
    width: 100%;
    background-color: #faaa6d;
}

/* Sidebar */
.sidebar {
    background-color: #f2684a;
    padding-top: 30px;
    /* margin-bottom: 60px; */
}

.menu {
    top: 10px;
    padding-top: 15px;
    display: block;
    width: 100%;
    position: sticky;
    float: right;
}

.menu ul li {
    position: relative;
    margin: 2.6em 0;
}

.menu ul li a {
    line-height: 5em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: right;
    letter-spacing: 0.4em;
    color: white;
    display: block;
    transition: all ease-out 300ms;
}

.menu ul li .active a {
    color: white;
}

.menu ul li:not(.active)::after {
    opacity: 0.2;
}

.menu ul li:not(.active):hover a {
    color: rgba(#fff, 0.75);
}

.menu ul li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2em;
    background: black;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #3b4cca, black);
}

/* Content */
.content {
    padding-top: 30px;
    /* margin-bottom: 60px; */
    display: block;
    box-sizing: border-box;
    float: left;
    position: relative;
}

.border-right-before::before {
    content: "";
    left: 0;
    position: absolute;
    width: 2px;
    height: 100%;
    margin-bottom: 200px;
    background: #78290f;
}

p img {
    width: 68px;
    height: 56px;
}

/* Pokemon set*/
/* Image */
.pkmnImg {
    position: relative;
    margin: 15px;
    width: 115px;
}

.pkmnImg_sprite {
    width: 110px;
    height: 110px;
}

.pkmnImg_item {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
}

/* Set */
pre {
    white-space: pre-line;
}

/* Calcs (accordion-btn) */
.accordion {
    /* border: 1px solid black; */
    margin-bottom: 5px;
}

.accordion-btn {
    background-color: #FCC499;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 13pt;
    font-weight: bold;
    transition: 0.4s;
}

.active,
.accordion-btn:hover {
    background-color: #F2684A;
}

.accordion-btn:after {
    content: "\002B";
    color: #faaa6d;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.accordion-content {
    padding: 0 18px;
    background-color: #faaa6d;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Tour run */
/* Table */
.tourTable {
    width: 100%;
    background-color: #fff;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    font-size: 0.85em;
    border: none;
}

.tourTable thead tr th,
.tourTable tbody tr td {
    padding: 4px;
    text-align: center;
}

.tourTable thead tr th {
    background-color: #da251d;
    color: white;
}

.tourTable tbody tr td {
    background-color: #eee;
    font-weight: bold;
}

.tourTable tbody tr td p {
    display: flex;
    justify-content: center;
}

/* Conclusion */
.conclusion {
    margin: 3rem auto;
}

/* section divider */
.divider-separator {
    border-top: 3px solid black;
}

#main-separator {
    margin-bottom: 0;
    border-top: 1px solid #da251d;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}
